<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <add key="baseAddress" value="https://localhost:44300/" />

    <add key="IsParentDirectoryRelative" value="false"/>
    <add key="ParentDirectory" value="C:\td\"/>
    <add key="IncludeSubdirectories" value="true"/>
    <add key="InitialDirectoryScan" value="false"/>
    <add key="SupportedFileTypes" value=".avi,.mkv,.mp4,.txt"/>
    <add key="ItemRetryAttempts" value="15"/>
    <add key="ItemRetryDurationInSeconds" value="300"/>

    <add key="IsLogDirectoryRelative" value="true"/>
    <add key="LogDirectory" value=""/>
    <add key="LogFileName" value="Log.txt"/>
  </appSettings>

  <unity>
    <alias alias="IDirectoryMonitor" type="ShowManagement.WindowsServices.NameResolver.Components.IDirectoryMonitor, ShowManagement.WindowsServices.NameResolver" />
    <alias alias="DirectoryMonitor" type="ShowManagement.WindowsServices.NameResolver.Components.DirectoryMonitor, ShowManagement.WindowsServices.NameResolver" />

    <alias alias="INameResolverEngine" type="ShowManagement.WindowsServices.NameResolver.Components.INameResolverEngine, ShowManagement.WindowsServices.NameResolver" />
    <alias alias="NameResolverEngine" type="ShowManagement.WindowsServices.NameResolver.Components.NameResolverEngine, ShowManagement.WindowsServices.NameResolver" />

    <alias alias="IServiceProvider" type="ShowManagement.WindowsServices.NameResolver.Services.IServiceProvider, ShowManagement.WindowsServices.NameResolver" />
    <alias alias="ServiceProvider" type="ShowManagement.WindowsServices.NameResolver.Services.ServiceProvider, ShowManagement.WindowsServices.NameResolver" />


    <containers>
      <container>
        <register type="IDirectoryMonitor" mapTo="DirectoryMonitor"/>
        <register type="INameResolverEngine" mapTo="NameResolverEngine"/>
        <register type="IServiceProvider" mapTo="ServiceProvider"/>
      </container>
    </containers>
  </unity>

  <system.diagnostics>
    <sources>
      <source name="ShowManagement.WindowsServices.NameResolver.Service"
              switchName="serviceSwitch">
        <listeners>
          <add name="textListener" />
        </listeners>
      </source>

      <source name="ShowManagement.WindowsServices.NameResolver"
              switchName="nameResolverSwitch">
        <listeners>
          <add name="textListener" />
        </listeners>
      </source>
    </sources>

    <switches>
      <!--SourceLevel is just a bitmask that is ANDed at run time with the TraceEventType to determine whether to log the event. 
          To get combinations like Warning and Activity Tracing, specify the numeric value for the bitfield as the switch value 
          rather than using the symbolic values shown.
          
                            |============== System.Diagnostics.TraceEventTypes ===========================================|
      Source Level|    Value|  Transfer| Resume| Suspend|  Stop| Start|  Verbose|  Information|  Warning|  Error|  Critical
      Off              0x0        -         -       -       -       -       -           -           -        -        -
      All              0xFFF      X         X       X       X       X       X           X           X        X        X
      Critical         0x1        -         -       -       -       -       -           -           -        -        X
      Error            0x3        -         -       -       -       -       -           -           -        X        X
      Warning          0x7        -         -       -       -       -       -           -           X        X        X
      Information      0xF        -         -       -       -       -       -           X           X        X        X
      Verbose          0x1F       -         -       -       -       -       X           X           X        X        X
      ActivityTracking 0xFF00     X         X       X       X       X       -           -           -        -        -
      -->
      <add name="serviceSwitch" value="Information"/>
      <add name="nameResolverSwitch" value="Information"/>
    </switches>

    <sharedListeners>
      <add name="textListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TraceListener.log" />
    </sharedListeners>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>