<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  
  <appSettings>
    <add key="IsParentDirectoryRelative" value="false"/>
    <add key="ParentDirectory" value="C:\Users\cthibaul\Documents\visual studio 2013\Projects\ShowManagement\TestData"/>
    <add key="IncludeSubdirectories" value="true"/>
    <add key="InitialDirectoryScan" value="false"/>
    <add key="SupportedFileTypes" value=".avi,.mkv,.mp4,.txt"/>
    <add key="ItemRetryAttempts" value="15"/>
    <add key="ItemRetryDurationInSeconds" value="300"/>
    <!--5 Min-->

    <add key="IsLogDirectoryRelative" value="true"/>
    <add key="LogDirectory" value=""/>
    <add key="LogFileName" value="Log.txt"/>
  </appSettings>

  <unity>
    <alias alias="INameResolverService" type="ShowManagement.NameResolver.Services.INameResolverService, ShowManagement.NameResolver" />
    <alias alias="NameResolverServiceMock" type="ShowManagement.NameResolver.UnitTest.Mocks.NameResolverServiceMock, ShowManagement.NameResolver.UnitTest" />

    <containers>
      <container>
        <register type="INameResolverService" mapTo="NameResolverServiceMock"/>
      </container>
    </containers>
  </unity>
</configuration>