<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <add key="IsParentDirectoryRelative" value="false"/>
    <add key="ParentDirectory" value="C:\td\"/>
    <add key="IncludeSubdirectories" value="true"/>
    <add key="InitialDirectoryScan" value="false"/>
    <add key="SupportedFileTypes" value=".avi,.mkv,.mp4,.txt"/>
    <add key="ItemRetryAttempts" value="15"/>
    <add key="ItemRetryDurationInSeconds" value="300"/>

    <add key="IsLogDirectoryRelative" value="true"/>
    <add key="LogDirectory" value=""/>
    <add key="LogFileName" value="Log.txt"/>
  </appSettings>

  <unity>
    <alias alias="IDirectoryMonitor" type="ShowManagement.NameResolver.Components.IDirectoryMonitor, ShowManagement.NameResolver" />
    <alias alias="DirectoryMonitor" type="ShowManagement.NameResolver.Components.DirectoryMonitor, ShowManagement.NameResolver" />

    <alias alias="INameResolverEngine" type="ShowManagement.NameResolver.Components.INameResolverEngine, ShowManagement.NameResolver" />
    <alias alias="NameResolverEngine" type="ShowManagement.NameResolver.Components.NameResolverEngine, ShowManagement.NameResolver" />

    <alias alias="IShowManagementServiceProvider" type="ShowManagement.CommonServiceProviders.IShowManagementServiceProvider, ShowManagement.CommonServiceProviders" />
    <alias alias="ShowManagementServiceProvider" type="ShowManagement.CommonServiceProviders.ShowManagementServiceProvider, ShowManagement.CommonServiceProviders" />


    <containers>
      <container>
        <register type="IDirectoryMonitor" mapTo="DirectoryMonitor"/>
        <register type="INameResolverEngine" mapTo="NameResolverEngine"/>
        <register type="IShowManagementServiceProvider" mapTo="ShowManagementServiceProvider"/>
      </container>
    </containers>
  </unity>

  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TraceListener.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>